<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <label for="email">Email</label>
    <input matInput type="text" formControlName="email"
           [ngClass]="{ 'is-invalid': submitted && form.username.errors }"/>
    <div *ngIf="submitted && form.username.errors">
      <div *ngIf="form.username.errors.required">Username is required</div>
    </div>
  </div>
  <div>
    <label for="password">Password</label>
    <input matInput type="password" formControlName="password"
           [ngClass]="{ 'is-invalid': submitted && form.password.errors }"/>
  </div>
  <div>
    <button mat-button>
      <span></span>
      Login
    </button>
    <a mat-button routerLink="/register" >Register</a>
  </div>
</form>
