<h1>Hello, User</h1> <!-- TODO: Set Name of registered user. Hint: Interpolations -->


<mat-table [dataSource]="users" class="mat-elevation-z8">


  <!-- TODO: Our PO went through the roof when he saw, that we don't display the ID of the users. Please add the ID Field (which is already included in our model) and also change the order to id, email, first_name, last_name (currently first_name, email, last_name) -->

  <!-- Position Column -->
  <ng-container matColumnDef="first_name">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="last_name">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
